* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  text-align: center;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.profile-container {
  position: relative;
  background-color: rgb(255, 255, 255, 0.7);
  width: 400px;
  padding-top: 50px;
  border-radius: 15px;
  box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 100px;
  padding: 10px;
  margin-bottom: 40px;
}

.info {
  font-size: 20px;
  color: rgb(110, 168, 235);
}

.full-name {
  margin-bottom: 20px;
}

.tag {
  margin-bottom: 18px;
}

.place {
  margin-bottom: 70px;
}

.full-name {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(2, 39, 82);
}

.posts-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(148, 188, 233, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 15px 15px;
  text-align: center;
}

.posts-info span {
  display: block;
  margin-bottom: 4px;
}

.label {
  font-size: 20px;
  color: rgb(110, 168, 235);
}

.quantity {
  font-size: 25px;
  color: rgb(2, 39, 82);
}
