.container {
  width: 400px;

  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 15px;
  box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);
}

.profile {
  composes: container;
  margin-top: 50px;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  /* overflow: hidden; */
  margin-left: auto;
  margin-right: auto;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 100px;
  padding: 10px;
  margin-bottom: 40px;
}

.info {
  font-size: 20px;
  color: rgb(110, 168, 235);
}

.name {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(2, 39, 82);
  margin-bottom: 20px;
}

.tag {
  composes: info;
  margin-bottom: 18px;
}

.location {
  composes: info;
  margin-bottom: 70px;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-around;

  background-color: rgba(148, 188, 233, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 15px 15px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 20px;
  color: rgb(110, 168, 235);
  margin-bottom: 4px;
}

.quantity {
  font-size: 25px;
  color: rgb(2, 39, 82);
}
