.container {
  width: 350px;

  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 15px;
  box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);

  margin-top: 25px;
  margin-bottom: 25px;
}

.statistics {
  composes: container;
  padding-top: 25px;
}

.title {
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(2, 39, 82);

  margin-bottom: 20px;
}

.statList {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 15px 15px;

  background-color: rgba(148, 188, 233, 0.3);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 20px;
  color: rgb(110, 168, 235);
  margin-bottom: 4px;
}

.percentage {
  font-size: 25px;
  color: rgb(2, 39, 82);
}
